.carousel {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide {
  height: inherit;
  width: 100%;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .slide-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    img {
      height: 100%;
    }
  }

  .slide-text {
    width: 60%;
    color: $color-deep-dark;

    h3 {
      font-size: 2.2rem;
    }

    p{
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

.carousel {

  ul {
    height: inherit;
    width: 100%;
    display: flex;
    text-align: center;
    li {
      width: 100%;
      height: inherit;
      text-align: center;
      display: none;
    }
  }
}

.carousel .visible-slide {
  display: inline-block;
}
.slide-buttons {
  height: 400px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: $color-deep-dark;
}

