.three-column-main {
  background-color: $color-semi-dark-text;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.three-columns-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.three-columns-section {
  font-family: $font-main;
  color: $color-background;
  padding: 30px 50px;
  flex: 0 1 33.3%;

  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  a {
    font-size: 1.5rem;
    line-height: 2.5rem;
    &:link,
    &:visited,
    &:active {
      color: $color-background;
      text-decoration: none;
    }

    &:hover {
      color: $color-dark-text;
    }
  }
}

.third-section {
  padding-bottom: 20px;

  input {
    padding: 10px;
    font-size: 0.8rem;
    border: none;
  }

  .type-here {
    width: 60%;
  }

  .button {
    padding: 10px 20px;
    font-weight: bold;
    color: $color-background;
    background-color: $color-contrast;
    position: absolute;
    cursor: pointer;

    &:hover {
      background-color: $color-light-text;
      color: $color-contrast;
    }
  }
}

.column-list {

  li {
    list-style-type: disc;
    list-style-position: inside;

    &:hover {
      color: $color-dark-text;
    }
  }
}

.social-media {
  display: flex;

  .fab {
    margin: 30px 20px 30px 5px;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 2rem;
  }
}
