.add-plan-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-background;
  width: 80%;
  height: 90%;
  position: absolute;
  top: 160px;
  left: 220px;
  color: $color-dark-text;
  padding: 40px;
  z-index: 500;
  overflow: auto;

  .add-top {
    width: 95%;
    height: 50px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid $color-light-text;
    h3 {
      font-size: 28px;
      color: $color-contrast;
      text-transform: uppercase;
    }
    button {
      border-style: none;
      font-size: 16px;
      font-weight: bold;
      color: $color-background;
      background-color: $color-contrast;
      text-align: center;
      width: 16%;
      height: 90%;
      margin-bottom: 26px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  form {
    width: 100%;
    height: 30%;
    margin: 20px 0 20px 0;
    color: $color-dark-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      label {
        font-size: 22px;
        text-align: center;
      }
      input {
        border: 1.2px solid $color-light-text;
        color: $color-dark-text;
      }
      textarea {
        color: $color-dark-text;
        max-height: 120px;
        max-width: 80%;
        border: 1px solid $color-light-text;
      }
      #plan-name {
        width: 80.5%;
      }
      #plan-description {
        width: 80%;
        height: 100px;
      }
      #week-number {
        width: 30px;
        margin-left: 26px;
        text-align: center;
      }
      &:nth-child(3){
        justify-content: flex-start;
      }
    }
  }
  table{
      max-width: 100%;
      max-height: 400px;
      width: 90%;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      tr{
          td{
            border-bottom: 1px solid $color-light-text;
            border-top: 1px solid $color-light-text;
            width: 200px;
            text-align: center;
            padding:10px;
            select {
                width: 95%;
            }
          }
          td:first-child{
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
          }
      }
      .meal-type{
          font-size: 18px;
          text-transform: uppercase;
          font-weight: bold;

          td:first-of-type {
              border-top: none;
          }
      }
  }
}