body {
  background-image: url("/images/background-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  font-size: 14px; // wielkość bazowa

}


.container {
  max-width: 1000px;
}
