body {
  //background-color: #BADA55;
  background-image: url("/images/background-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

}


.container {
  max-width: 1000px;
  font-size: 20px; // wielkość bazowa


}

