html {
  font-size: 14px; //basic
  font-family: $font-main;
}

body {
  width: 100%;
  font-family: $font-main;
  background-color: $color-dark-text;
}


h3 {
  font-size: 2.2rem;
  font-weight: 400;
  padding: 15px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}