$color-semi-dark-text: #5B605F; //panel boczny, nawigacja
$color-dark-text: #4a4a49; // nagłówek, , kolor tekstu w kolumnach
$color-light-text: #A1A194; // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji

$color-background: #FFFFFA; // kolor tła ekranów

$color-contrast: #FF6600; // przyciski, wyróżnienia, nagłówki ekranów

$color-info: #3498DB; // kolor wiadomości typu info,
$color-warning: #FFB03B; // kolor wiadomości typu warning
$color-success: #468966; // kolor wiadomości typu success

$color-bin: #BD4932; // kolor ikony kosza

$color-deep-dark: rgba(0, 0, 0, 0.85)