.aside-menu {
  width: 150px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $color-semi-dark-text;
  position: relative;

  ul {
    padding: 0;
    width: 100%;

    li {
      width: 100%;
      position: relative;
    }
  }
}

.aside-menu a {
  color: $color-background;
  display: block;
  padding: 20px 0 20px 20px;
}
.aside-menu .arrow-icon {
  position: absolute;
  top: 35%;
  left: 85%;
  color: $color-contrast;
}

.border-left {
  border-left: 3px solid $color-contrast;
  font-weight: bold;
}

.login-name {
  padding-right: 50px;
  color: $color-background;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: $color-contrast;
  }

  p {
    font-size: 1.5rem;
    padding-right: 30px;
  }
}

.main-app {
  background-image: url("../../images/background-image.png");
  background-position: center;
  background-size: contain;
}